<ul>
  <li
    *ngFor="
      let book of books;
      index as i;
      first as isFirst;
      last as isLast;
      odd as isOdd;
      even as isEven
    "
  >
    {{ book.title }} - {{ book.author }}
    <span *ngIf="i === 5">Outstanding</span>
    <span *ngIf="isFirst">Outstanding</span>
    <span *ngIf="isLast">Outstanding</span>
    <span *ngIf="esOdd">Outstanding</span>
    <span *ngIf="esEven">Outstanding</span>
  </li>
</ul>

<!--<ul>
  <li *ngFor="let libro of libros ; index as indice ; first as esPrimero; last as esUltimo ; odd as esPar" >
   <a (click)="showAuthor(libro)">  {{libro.titulo}} </a>
   <span *ngIf="indice == 5" > Destacado</span>
    <span *ngIf="esPrimero" > Destacado</span>
    <span *ngIf="esUltimo" > Destacado</span>
    <span *ngIf="esPar" > Destacado</span>
  </li>
</ul>-->
